* {
  border:0;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html, body {
  background: $off-white;
}

body {
  @include ms0;
  font-family: $primary-font;
  color: $dark-gray;
}

%card {
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  background: #fff;
}

li {
  list-style-type: none;
}