%basic-button {
  cursor: pointer;
  &:disabled {
    opacity: .75;
    cursor: default;
  }
}

%fancy-button {
  border-radius: 4px;
  width: 13em;
  height: 4em;
  @include ms-1;
}

button {
  @extend %basic-button;
}

.btn-accent {
  @extend %basic-button;
  @extend %fancy-button;
  background: $primary-accent;
  font-weight: bold;
  color: #fff;
  &:hover {
    background:lighten($primary-accent, 5%);
    &:disabled {
      background: $primary-accent;
    }
  }
}

input[type='radio'] {
  position: relative;
  top: -.15em;
  margin-right: 1em;
}

input[type='text'] {
  @include ms0;
  padding: 0.5em;
  border: 1px solid $light-gray;
  border-radius: 4px;
}

select {
  border: 1px solid $light-gray;
  @include ms1;
}