.question-type-filter {
  text-align: center;
  li {
    display: inline-block;
    margin: 1.5em 2em;
    padding: .5em 1em;
    border-radius: 4px;
    cursor: pointer;
    @include ms-1;
    text-transform: uppercase;
    font-weight: bold;
    color: $middle-gray;
    letter-spacing: .5px;
  }
  .active {
    color: #fff;
    background: rgba($primary-accent, .45);
  }
}

%question {
  @extend %card;
  padding: 2em;
  max-width: 40em;
  margin: 0 auto 1em auto;
  h6, p {
    color: $dark-gray;
  }
  h6 {
    display: block;
    @include ms-1;
  }
  p {
    display: inline-block;
    @include ms1;
    svg {
      position: relative;
      margin-left: .35em;
      top: .15em;
    }
  }
  .chosen {
    p {
      color: $primary-accent;
      font-weight: bold;
    }
  }
}

.question-preview {
  @extend %question;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-form {
  @extend %question;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 1em;
  &.answered {
    input {
      display: none;
    }
    label {
      cursor: default;
    }
    .question-meta {
      margin-left: 1em;
      @include ms-1;
    }
  }
  svg {
    display: none;
  }
  button {
    margin-top: 1em;
  }
  .chosen {
    svg {
      display: inline-block;
    }
  }
}