.question-type-filter {
  text-align: center;
  li {
    display: inline-block;
    margin: 1.5em 2em;
    padding: .5em 1em;
    border-radius: 4px;
    cursor: pointer;
    @include ms-1;
    text-transform: uppercase;
    font-weight: bold;
    color: $middle-gray;
    letter-spacing: .5px;
  }
  .active {
    color: #fff;
    background: rgba($primary-accent, .45);
  }
}

%question {
  @extend %outer-container;
  @extend %card;
  padding: 2em;
  margin-bottom: 1em;
  h4, p {
    color: $dark-gray;
  }
  h4 {
    display: block;
  }
  p {
    display: inline-block;
    @include ms1;
    svg {
      position: relative;
      margin-left: .35em;
      top: .15em;
    }
  }
  .chosen {
    p {
      color: $primary-accent;
      font-weight: bold;
    }
  }
  .user-badge {
    position: relative;
    top: -.55em;
  }
}

.question-preview {
  @extend %question;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-form {
  @extend %question;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 4.5em;
  &.answered {
    input {
      display: none;
    }
    label {
      cursor: default;
    }
    .question-meta {
      display:block;
      @include ms-1;
    }
  }
  svg {
    display: none;
  }
  button {
    margin-top: 1em;
  }
  .chosen {
    svg {
      display: inline-block;
    }
  }
}

.question-new {
  @extend %question;
  margin-top: 4.5em;
  form {
    display: flex;
    margin-bottom: 1em;
    justify-content: stretch;
    .left {
      flex: auto;
      h4 {
        // margin-bottom: 1em;
      }
      span {
        color: $middle-gray;
      }
    }
    .right {
      margin-left: auto;
      padding-left: 2em;
    }
    input {
      display: block;
      width: 100%;
      margin: .5em 0;
    }
  }
}