h1 {
  font-size: 1.95em;
  font-family: "Chelsea Market";
  color: #812296; }

h2 {
  font-size: 1.56em; }

h3 {
  font-family: "Chelsea Market";
  font-size: 1.25em; }

h4 {
  font-size: 1em;
  font-family: "Chelsea Market";
  margin-bottom: 0.5em; }

h5 {
  font-size: .8em;
  text-transform: uppercase;
  font-weight: normal; }

p {
  font-size: 1em; }

a {
  text-decoration: none; }

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  background: #f4f4f4; }

body {
  font-size: 1em;
  font-family: "Catamaran", "Sans-serif";
  color: #444; }

.site-header, .lb-container, .signin-container, .question-preview, .question-form, .question-new {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background: #fff; }

.lb-container, .signin-container, .question-preview, .question-form, .question-new {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto; }

li {
  list-style-type: none; }

button, .btn-accent {
  cursor: pointer; }
  button:disabled, .btn-accent:disabled {
    opacity: .75;
    cursor: default; }

.btn-accent {
  border-radius: 4px;
  width: 13em;
  height: 4em;
  font-size: .8em; }

.btn-accent {
  background: #812296;
  font-weight: bold;
  color: #fff; }
  .btn-accent:hover {
    background: #9327ab; }
    .btn-accent:hover:disabled {
      background: #812296; }

input[type='radio'] {
  position: relative;
  top: -.15em;
  margin-right: 1em; }

input[type='text'] {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px; }

select {
  border: 1px solid #ccc;
  font-size: 1.25em; }

.site-header {
  display: flex;
  justify-content: space-between;
  padding: .75em 1.25em; }

.site-header__right {
  display: flex;
  align-items: center; }
  .site-header__right .sign-out {
    margin-right: 2em;
    background: none; }
    .site-header__right .sign-out svg {
      font-size: 1.25em;
      fill: #444; }
    .site-header__right .sign-out:hover svg {
      fill: #812296; }

.lb-container {
  margin-top: 4.5em;
  padding: 2em; }

.lb-container_lb-list li {
  display: flex;
  margin: 1em 0;
  padding: 2em 0 1em 0;
  border-top: 1px solid #ccc; }
  .lb-container_lb-list li:first-of-type {
    margin-top: 0;
    padding-top: 0;
    border-top: 0; }
  .lb-container_lb-list li .left, .lb-container_lb-list li .right {
    flex: 0 1 7em; }
  .lb-container_lb-list li .center {
    flex: 1 0 auto; }

.lb-container_lb-list h3 {
  margin-bottom: 0.4em; }

.lb-container_lb-list .avatar {
  width: 5.5em;
  height: 5.5em;
  background-size: cover;
  background-position: center center;
  border-radius: 100%; }

.lb-container_lb-list .score {
  position: relative;
  width: 5.5em;
  height: 5.5em;
  background: #812296;
  border-radius: 100%;
  text-align: center; }
  .lb-container_lb-list .score span {
    color: #fff; }
  .lb-container_lb-list .score .label {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    font-size: .64em;
    text-transform: uppercase;
    letter-spacing: .5px; }
  .lb-container_lb-list .score .count {
    position: relative;
    top: 26px;
    font-size: 2.43em;
    font-family: "Chelsea Market"; }

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .loading svg {
    font-size: 1.95em;
    color: rgba(129, 34, 150, 0.25);
    animation: spin 500ms linear infinite; }

.spinning {
  animation: spin 500ms linear infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.site-nav li {
  display: inline-block;
  margin-right: 3em; }
  .site-nav li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    color: #bbb; }
    .site-nav li a.current {
      color: #444; }
    .site-nav li a:hover {
      color: #444; }

.signin-container {
  margin-top: 8em;
  padding: 2em;
  text-align: center; }
  .signin-container h1 {
    margin-bottom: 2em; }
  .signin-container p {
    margin-bottom: 1em; }
  .signin-container select {
    margin-bottom: 1em; }

.user-badge {
  display: flex;
  align-items: center; }
  .user-badge span {
    text-transform: uppercase;
    font-size: .8em; }
  .user-badge .avatar {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    margin-left: 1em; }

.question-type-filter {
  text-align: center; }
  .question-type-filter li {
    display: inline-block;
    margin: 1.5em 2em;
    padding: .5em 1em;
    border-radius: 4px;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    color: #bbb;
    letter-spacing: .5px; }
  .question-type-filter .active {
    color: #fff;
    background: rgba(129, 34, 150, 0.45); }

.question-preview, .question-form, .question-new {
  padding: 2em;
  margin-bottom: 1em; }
  .question-preview h4, .question-form h4, .question-new h4, .question-preview p, .question-form p, .question-new p {
    color: #444; }
  .question-preview h4, .question-form h4, .question-new h4 {
    display: block; }
  .question-preview p, .question-form p, .question-new p {
    display: inline-block;
    font-size: 1.25em; }
    .question-preview p svg, .question-form p svg, .question-new p svg {
      position: relative;
      margin-left: .35em;
      top: .15em; }
  .question-preview .chosen p, .question-form .chosen p, .question-new .chosen p {
    color: #812296;
    font-weight: bold; }
  .question-preview .user-badge, .question-form .user-badge, .question-new .user-badge {
    position: relative;
    top: -.55em; }

.question-preview {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.question-form {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 4.5em; }
  .question-form.answered input {
    display: none; }
  .question-form.answered label {
    cursor: default; }
  .question-form.answered .question-meta {
    display: block;
    font-size: .8em; }
  .question-form svg {
    display: none; }
  .question-form button {
    margin-top: 1em; }
  .question-form .chosen svg {
    display: inline-block; }

.question-new {
  margin-top: 4.5em; }
  .question-new form {
    display: flex;
    margin-bottom: 1em;
    justify-content: stretch; }
    .question-new form .left {
      flex: auto; }
      .question-new form .left span {
        color: #bbb; }
    .question-new form .right {
      margin-left: auto;
      padding-left: 2em; }
    .question-new form input {
      display: block;
      width: 100%;
      margin: .5em 0; }
